* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  
  .container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 4px;
  }
  
  .container div {
    padding: 15px;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
  }
  
  .header {
    background-color: #393f4d;
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 4fr;
  }

  .header .menu ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .menu ul {
    display: grid;
    list-style-type: none;
  }

  .menu {
    display: grid;
    align-self: center;
  }
  
  .menu ul,
  .menu li {
    font-size: 16px;
  }
  
  .sidebar {
    background-color: #C50208;
    display: grid;
    gap: 50px;
    grid-row: 2 / 4;
  }
  
  .sidebar .photo {
    background-color: white;
    color: black;
    font-size: 12px;
    font-weight: normal;
    border-radius: 10px;
  }
  
  
  .sidebar .side-content {
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: normal;
  }

  .side-content {    
    place-content: center;
  }
  
  .nav {
    background-color: #C50208;
    grid-row: 2 / 3;
  }

  .nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
  }
  
  .nav ul li {
    font-size: 16px;
    text-transform: uppercase;
  }
  
  .article {
    background-color: #bccbde;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
  }
  
  .article p {
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    text-align: left;
  }
  
  .article .card {
    background-color: #FFFFFF;
    color: black;
    text-align: center;
    height: 200px;
  }
  
  .card p {
    color: black;
    font-weight: normal;
    font-size: 14px;
  }
  
  .card .title {
    font-size: 18px;
    text-align: center;
  }
  
  .footer {
    background-color: #393f4d;
    grid-column: 1 / 3;
  }
  
  .footer p {
    font-size: 13px;
    font-weight: normal;
  }